body{
    margin:0;
    text-align: center;
    padding:30px;
}
a{
    color:rgb(61, 26, 49);
}
h1{
    text-align: center;
    border-bottom:5px solid rgb(146, 196, 183);
    background-color: beige;
    margin:0;
}
#menu ul{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap:1px;
    background-color: rgb(245, 211, 217);
    margin:0;
    padding:20px;
    list-style-type: none;
}
table{
    border:1px solid black;
    margin:auto;
}
td{
    border:1px solid gray;
    width:200px;
    height: 200px;
    padding-left: 15px;
}

